/*
 * Project: Prop Inmobiliaria
 * Author: Alonso Vázquez
 * Date: 01/01/2015
 * Description: Custom Style sheets for the project 'Prop Inmobiliaria'
 * contains all that is needed for all the views, pages, etc.
 */
 html, body, .container-fluid {
 	height: 100%;
 }

.row {
	height: 100%;
}

.col-md-2 {
	background-color: #63ade4;
	border-right: 1px solid #0069cc;
	height: 100%;
}

.col-md-2 ul li a {
	color: #fff;
}

.col-md-2 ul li a:hover {
	background-color: #0069cc;
}

.flexigrid {
	margin-top: 30px;
}

.input-group {
	margin-bottom: 3px;
}

.login {
	background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.btn-login {
	background-color: #0069cc;
	border: 1px solid #63ade4;
	color: #fff;
}

.brand-logo {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
}